.tasks {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.5rem;
  margin-bottom: 3rem;

  li {

    padding: 1rem;
    min-width: 20rem;
    min-height: 5rem;
    cursor: pointer;
    &:hover {
      background-color: #666666;
      transition: .3s all;
    }
    .content {
      h2 {
        text-align: center;
      }

      .description {
        text-align: center;
      }
    }

    .option-btns {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
    }

  }
}

.fast {
  background-color: #c72727;
  color: white;
}

.medium {
  background-color: #b48e2e;
  color: white;
}

.slow {
  background-color: #28a745;
  color: white;
}

.search {
  max-width: 400px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
