<form class="card" [formGroup]="form" (ngSubmit)="editTask()">
  <h2>Edit task</h2>
  <div
    class="form-control"
    [class.invalid]="form.get('title')?.invalid && form.get('title')?.touched"
  >
    <label for="title">Title:</label>
    <input id="title" type="text" formControlName="title">
    <div
      class="validation"
      *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
    >
      <small *ngIf="form.get('title')?.errors?.['required']">required title</small>
      <small *ngIf="form.get('title')?.errors?.['trimValidator']">required title</small>

    </div>
  </div>

  <div
    class="form-control"
    [class.invalid]="form.get('description')?.invalid && form.get('description')?.touched"
  >
    <label for="description">Description:</label>
    <input id="description" type="text" formControlName="description">
    <small *ngIf="form.get('description')?.errors?.['required']">required description</small>
    <small *ngIf="form.get('description')?.errors?.['trimValidator']">required description</small>

  </div>

  <label for="timeToDo">Time to do:</label>
  <select
    name="timeToDo"
    id="timeToDo"
    [ngClass]="{'option-fast': timeToDo.value === timeToDoEnum.FAST,
                  'option-medium': timeToDo.value === timeToDoEnum.MEDIUM,
                  'option-slow': timeToDo.value === timeToDoEnum.SLOW
                  }"
    #timeToDo
    formControlName="timeToDo"
    (change)="changeTimeToDo(timeToDo.value)">
    <option [value]="timeToDoEnum.FAST" class="option-fast">fast</option>
    <option [value]="timeToDoEnum.MEDIUM" class="option-medium">medium</option>
    <option [value]="timeToDoEnum.SLOW" class="option-slow">slow</option>
  </select>

  <div class="auth-btn">
    <button
      tabindex="1"
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >Edit</button>
  </div>

</form>


