<app-alert></app-alert>

<div *ngIf="auth.isLoggedIn; else notAuthenticated" class="navbar">
  <h2 style="color: white;">ToDo App</h2>
  <div class="nav-btn">
    <button
      class="btn btn-danger"
      routerLink="dashboard/create-task"
      routerLinkActive="active-btn">Create task</button>
    <button
      routerLink="dashboard"
      class="btn btn-danger"
      routerLinkActive="active-btn">Home</button>
    <button (click)="signOut()" class="btn btn-light">Log out</button>

  </div>

</div>

<ng-template #notAuthenticated>
  <div class="navbar">
    <h2 style="color: white;">ToDo App</h2>
    <div class="nav-btn">
      <h3 style="color: white;">please login to use this app</h3>
    </div>
  </div>
</ng-template>

<div class="container">

  <router-outlet></router-outlet>
</div>
