<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Sign Up</h2>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email')?.invalid && form.get('email')?.touched}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
    >
      <small *ngIf="form.get('email')?.errors?.['required']">required email</small>
      <small *ngIf="form.get('email')?.errors?.['email']">incorrect email</small>

    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password')?.invalid && form.get('password')?.touched}"
  >
    <label for="password">Password:</label>
    <input id="password" [type]="showPassword ? 'text' : 'password' " #password formControlName="password">
    <button type="button" (click)="showPassword = !showPassword" >{{showPassword ? 'hide' : 'show'}} password</button>
    <div
      class="validation"
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
    >
      <small *ngIf="form.get('password')?.errors?.['required']">required password</small>
      <small *ngIf="form.get('password')?.errors?.['minlength']">min length is 8</small>
      <small class="strong-password" *ngIf="form.get('password')?.errors?.['passwordStrength']">  Your password must have lower case, upper case and numeric characters.</small>
    </div>
  </div>

  <div class="auth-btn">
    <button
      tabindex="1"
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >Sign Up</button>
    <button
      tabindex="1"
      type="submit"
      class="btn btn-dark"
      routerLink="/auth/sign-in"
    >Login</button>
  </div>

</form>


