<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Log in</h2>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email')?.invalid && form.get('email')?.touched}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
    >
      <small *ngIf="form.get('email')?.errors?.['required']">required email</small>
      <small *ngIf="form.get('email')?.errors?.['email']">incorrect email</small>

    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password')?.invalid && form.get('password')?.touched}"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      class="validation"
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
    >
      <small *ngIf="form.get('password')?.errors?.['required']">required password</small>
      <small *ngIf="form.get('password')?.errors?.['minlength']">min length is 6</small>
    </div>
  </div>

  <div class="auth-btn">
    <button
      tabindex="1"
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >Log In</button>
    <button
      tabindex="1"
      type="submit"
      class="btn btn-dark"
      routerLink="/signUp"
    >Sign Up</button>
  </div>

</form>

